/* ******* DESKTOP */

.navbar {
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    min-height: 70%;
    padding: 1rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../../public/images/backgroundBanner.jpeg');
    background-color: #4D4F52;
    color: white;
}

.navbar_links {
    display: flex;
    position: fixed;
    top: 10px;
    right: 20px;

}

#connexion {
    position: absolute;
    top: 80%;
    left: 5%;
    color: white;
    font-size: 25px;
    padding: 1rem;
}

.navbar_link {
    padding: 0 0.3rem;
    color: inherit;
    font-size: 25px;
}

.navbar_burger {
    width: 40px;
    height: 40px;
    background: transparent;
    color: inherit;
    border: none;
}

.navbar_logo {
    z-index: 0;

}

.hide-logo,
.hide-button {
    display: none;
    /* Cache le logo et le bouton connexion lorsque le bouton burger est activé */
}


/* ******* IPAD & MOBILE */

@media screen and (max-width: 767px) {

    #windr {
        width: clamp(500px, 100%, 100%);
    }

    .navbar_links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* position: fixed; */
        top: 0;
        left: 0;
        right: -100vw;
        bottom: 0;
        width: 0;
        height: 100vh;
        padding: 2rem;
        visibility: hidden;
        background-color: #4D4F52;

    }

    .show-nav .navbar_links {
        width: 100vw;
        right: 0;
        visibility: visible;
    }

    .navbar_item::after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 3vw;
        height: 1px;
        background: #fff;
        transition: width 0.5s;

    }

    .navbar_item:last-child:after {
        display: none;

    }

    .navbar_link {
        display: block;
        padding: 1.5rem;
        font-size: 5vw;
    }

    .navbar_burger {
        display: block;
        position: fixed;
        top: 1rem;
        right: 1rem;
        border: none;

    }

    .navbar_burger:hover {
        cursor: pointer;
    }

    .burger-bar,
    .burger-bar::before,
    .burger-bar::after {
        display: block;
        width: 35px;
        height: 3px;
        position: relative;
        border-radius: 3px;
        background: #fff;
        transition: all 0.3s ease-in-out;

    }

    .burger-bar::before,
    .burger-bar::after {
        content: "";
        position: absolute;
        left: 0;

    }

    .burger-bar::before {
        transform: translateY(-12px);
    }


    .burger-bar::after {
        transform: translateY(12px);
    }

    .show-nav .burger-bar {
        background: transparent;
        width: 0;

    }

    .show-nav .burger-bar::before {
        transform: rotate(45deg);
    }

    .show-nav .burger-bar::after {
        transform: rotate(-45deg);
    }
}